	body { /* Fondo de la página web */
		background-color: #110a2c;
		text-align: left;
	}

	h1, strong { /* Los títulos 1 y textos en negrita */
		color: rgb(218, 155, 62);
	}

	div#contenedor { /* Contenedor que tiene la vista de la web*/
		height : 100vh;
		display : grid;
		grid-template-columns: 20% auto 20%;
		grid-template-rows: 25% 65% 10%;

		margin : 0 auto;
		border: 1px solid black;
	}

	header { /* Encabezado de la página */
		background-color: blue;
		grid-column: 1 / 4;
		align-items: center;
	}

	header img { /* Imagenes del encabezado */
		margin-right: 25px; 
		width: 125px;
		height: auto; 
	}

	#cinemaPack { /* Imagen de cinemaPack en el encabezado */
		margin-right: 0px;
		margin-left: 175px; 
	}

	header a, header a:visited { /* Enlaces del encabezado de inicio de sesión */
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	header a:hover { /* Enlaces del encabezado al pasar el cursor */
		color: rgb(218, 155, 62);
		font-weight: bold;
		text-decoration: underline;
	}

	nav { /* Barra de navegación izquierda */
		grid-column: 1;
		grid-row: 2;
		background-color: green;
		overflow: scroll;
	}

	aside { /* Barra de lateral derecha */
		grid-column: 3;
		grid-row: 2;
		background-color: yellow;
	}

	aside img { /* Imagenes de la barra lateral derecha */
		width: 100%;
		height: 100%;
	}

	main { /* Contenido principal de la página actual */
		grid-column: 2;
		grid-row: 2;
		background-color: white;
		overflow: scroll;
	}

	footer { /* Pie de página */
		grid-column: 1 / 4;
		grid-row: 3;
		background-color: red;
	}
