	body { /* Fondo de la página web */
		background-color: #110a2c;
		text-align: left;
	}

	h1, strong { /* Los títulos 1 y textos en negrita */
		color: rgb(218, 155, 62);
	}

	div#contenedor { /* Contenedor que tiene la vista de la web*/
		height : 100vh;
		display : grid;
		grid-template-columns: 20% auto 20%;
		grid-template-rows: 25% 65% 10%;

		margin : 0 auto;
		border: 1px solid black;
	}

	header { /* Encabezado de la página */
		display: flex;
		grid-column: 1 / 4;
		background-color: #110a2c;

		grid-template-columns: 1fr 2fr;
		grid-template-areas: "logo login";
		align-items: center;
	}

	#cinemaPack { /* Imagen del cine */
		width: 125px;
		height: auto;
		margin-right: 25px;
	}

	.logo-container {
		flex: 0 0 auto; /* Ajusta el tamaño del contenedor del logo para que no crezca */
	}

	.inicioSesion {
		flex: 1; /* Permite que el contenedor de inicio de sesión ocupe el espacio restante */
		text-align: left; /* Alinea el texto a la derecha */
	}
	
	header img { /* Imagenes del encabezado */
		margin-right: 25px; 
		width: 125px;
		height: auto; 
	}

	header h1 { /* Título del encabezado */
		color: white;
		font-size: 2em;
		grid-area: logo;
	}

	header a, header a:visited { /* Enlaces del encabezado de inicio de sesión */
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	header p { /* Texto del encabezado */
		color: white;
	}

	header a:hover { /* Enlaces del encabezado al pasar el cursor */
		color: rgb(218, 155, 62);
		font-weight: bold;
		text-decoration: underline;
	}

	nav { /* Barra de navegación izquierda */
		grid-column: 1;
		grid-row: 2;
		overflow: scroll;
	}

	nav h2, a { /* Enlaces de la barra de navegación izquierda */
		color: white;
	}

	nav a:hover { /* Enlaces del encabezado al pasar el cursor */
		color: rgb(218, 155, 62);
		font-weight: bold;
		text-decoration: underline;
	}

	aside { /* Barra de lateral derecha */
		grid-column: 3;
		grid-row: 2;
	}

	aside img { /* Imagenes de la barra lateral derecha */
		width: 100%;
		height: 100%;
	}

	main { /* Contenido principal de la página actual */
		grid-column: 2;
		grid-row: 2;
		background-color: white;
		overflow: scroll;
	}

	footer { /* Pie de página */
		grid-column: 1 / 4;
		grid-row: 3;
	}
